<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PLAYER">
    <insert id="insertPlayer">
        insert into PLAYER (name, birth, team, snsId, awards, position, song, height, weight)
        values
        (#{name}, #{birth}, #{team}, #{snsId}, #{awards}, #{position}, #{song}, #{height}, #{weight})
    </insert>
    <update id="updatePlayer">
        update PLAYER
        set name=#{name}, birth=#{birth}, team=#{team}, snsId=#{snsId}, awards=#{awards},
        position=#{position}, song=#{song}, height=#{height}, weight=#{weight}
        where id=#{id}
    </update>
    <delete id="deletePlayer">
        delete from PLAYER where id=#{id}
    </delete>
    <select id="getPlayer" resultType="Player">
        select * from PLAYER where id = #{id}
    </select>
    <select id="getPlayerList" resultType="Player">
        select * from PLAYER order by id asc
    </select>
</mapper>
